<body>

    <main>

        <section>
            <!-- <div class="container">

               


                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5 mt-0">
                        <div class="card1">
                           
                            <p id="title"></p>
                            <div class="calendar-container">

                                <igx-calendar>

                                </igx-calendar>
                                
                            </div>
                            <style>
                                .calendar-container {
                                    margin: 1%;
                                }
                            </style>
                            
                        </div>

                        <div class="card3">

                            <i class="fas fa-building" id="icon1"></i>

                            <p id="align">ACHAT FORFAIT DE RENDEZ-VOUS</p>
                        </div>

                       


                    </div>
                    <div class="row2">
                        <div class="card2" id="number2">


                            <i class="fas fa-calendar " id="icon"></i>

                            <h6></h6>
                            <p>PROGRAMMER RENDEZ-VOUS</p>

                        </div>
                        <div class="card4" id="number4">

                            <i class="fas fa-history" id="icon0">

                            </i>

                            <p>HISTORIQUE RENDEZ-VOUS</p>
                        </div>
                        <div class="card44" id="number44">

                            <i class="fas fa-file" id="icon2"></i>

                            <p>DEVIS/FACTURES</p>
                        </div>
                        


                        <div class="card5" id="number5">
                            <div class="icon">
                                <i class="fa-regular fa-clipboard" id="icon5"></i>
                            </div>
                            <p>DEMANDEZ UN DEVIS</p>
                        </div>
                        <div class="card6" id="number6">

                            <i class="fas fa-id-card" id="icon6"></i>

                            <p>MON COMPTE</p>
                        </div>
                        <div class="card7" id="number7">

                            <i class="fas fa-cog" id="icon7"></i>

                            <p>GERER MON MOT DE PASSE</p>
                        </div>
                    </div>
                </div>
            </div>



 -->


            <div class="container">
                <div class="row d-flex justify-content-flex-start justify-content-start ">
                    <div class="col-sm-12 col-md-6 col-lg-5 mt-0" style="position: relative; left: 41rem;">
                        <div class=" mb-2 p-3 col-md-12 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                            style="border-radius: 8px;border: 1px solid #78c8eb; height: 100%;">
                            <a href="#" id="calendrier-etat-disponible">
                                <h6 class=" text-center fw-bold" style="color:#0199DA; padding-top:10px">ETAT DE
                                    DISPONIBILITE</h6>
                                <div class="m-0" id="calendrier">

                                </div>
                                <div class="calendar_box">
                                    <div class="calendar-section">
                                        <article class="calendar-wrapper">
                                            <!--onSelection($event)-->
                                          <igx-calendar  #calendar selection="multi" (specialDates)="getSpecialDates()" specialDateStyle="getSpecialDateStyle" class="gray-background"  [showWeekNumbers]="true"  style="height: 460px;top: -20px;margin-bottom: 40px;position: relative;"></igx-calendar>
                                          <!-- (selected)="onSelection($event)" (viewDateChanged)="viewDateChanged($event)" (activeViewChanged)="activeViewChanged($event)" -->
                                        </article>
                                      </div>
                                    <!-- <igx-calendar></igx-calendar> -->
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-7 mt-0">
                        <div class="d-flex flex-column w-100 " style="position: relative; left: 41.5rem;">
                            <div class="row mb-3">
                                <div class="col-md-12" id="bloc_card">
                                    <a class="pave" href="#">
                                        <div class="icon-box">
                                            <div class="icon"><!--<i class='bx bx-calendar-alt'
                                                    href="#"></i></div>
                                            <h4 class="title"><a href="#">PROGRAMMER RENDEZ-VOUS</a>
                                            </h4> -->
                                                <i class="fas fa-calendar" id="icon_style"></i>
                                            </div>
                                            <p>PROGRAMMER RENDEZ-VOUS</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row mb-3 ">
                                <div class="col-md-6 pe-0 mobile-menu-item " id="0">
                                    <a class="pave" href="#">
                                        <div class="icon-box ">
                                            <div class="icon"><!--<i class='bx bx-history' href="/client/historique"></i>
                                            
                                            <h4 class="title"><a href="/client/historique">HISTORIQUE</a></h4> -->
                                                <i class="fas fa-history" id="icon_style">

                                                </i>
                                            </div>
                                            <p>HISTORIQUE RENDEZ-VOUS</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 ">
                                    <a class="pave" href="#">
                                        <div class="icon-box mobile-menu-item-label">
                                            <div class="icon"><!--<i class='bx bxs-file' href="/client/facture"></i></div>
                                            <h4 class="title"><a href="/client/facture">DEVIS / FACTURES</a></h4> -->

                                                <i class="fas fa-file" id="icon_style"></i>
                                            </div>

                                            <p>DEVIS/FACTURES</p>


                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 demande_devis" id="0">
                                    <a class="pave">
                                        <div class="icon-box mobile-menu-item-label">
                                            <!-- <a href="#">
                                            <div class="icon"><i class='bx bx-notepad demande_devis'></i></div>
                                            <h4 class="title"><a class="demande_devis">DEMANDER UN DEVIS</a></h4>
                                        </a> -->
                                            <div class="icon">
                                                <i class="fa-regular fa-clipboard" id="icon_style"></i>
                                            </div>

                                            <p>DEMANDEZ UN DEVIS</p>

                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6 pe-0 mobile-menu-item ">
                                    <a class="pave" href="#">
                                        <div class="icon-box mobile-menu-item-label">
                                            <!-- <div class="icon"><i class='bx bxs-id-card'
                                                    href="https://testclients.jl-dev.fr/client/information/0"></i></div>
                                            <h4 class="title"><a
                                                    href="https://testclients.jl-dev.fr/client/information/0">MON
                                                    COMPTE</a></h4> -->
                                            <div class="icon">
                                                <i class="fas fa-id-card" id="icon_style"></i>
                                            </div>

                                            <p>MON COMPTE</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a class="pave" href="#">
                                        <div class="icon-box">
                                            <!-- <div class="icon"><i class="fa fa-cog" aria-hidden="true"
                                                    href="/client/gestion-compte"></i></div>
                                            <h4 class="title"><a href="/client/gestion-compte">GERER MON MOT DE
                                                    PASSE</a></h4> -->
                                            <div class="icon">
                                                <i class="fas fa-cog" id="icon_style"></i>
                                            </div>

                                            <p>GERER MON MOT DE PASSE</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- <div class="modal fade bs-example-modal" id="demander_devis" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center"><b>Demander un devis</b></h4>
                            </div>
                            <div class="modal-body" id="corp_docs" style=" max-height:80%; ">
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>





        </section>
    </main>


</body>