<head>
    <title>JLD | Authentification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="A5AorMUiRcyFcGdQXGsKzdnWnSmPTRuAzcU4CDId">


    <meta name="robots" content="noindex, follow">

</head>

<body style="background-color: #fff;">
    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more">
                <div class="login_img">
                    <img src="assets/login_image.png" id="login_image" style="z-index: 1;">
                    <div class="col-xl-6 bottomright">
                        <h1>Confiez-vous à notre équipe &emsp;&emsp;<br>&nbsp;&ensp;&nbsp;pour dépanner et <br>
                            &nbsp;&ensp;installer vos outils</h1>
                        <hr class="float-right" style="border: 1px solid #fff; width:30%;align-self:right;">
                    </div>
                </div>
            </div>
            <div class="wrap-background">
                <div class="wrap-login100 p-l-70 p-r-50 p-t-79 p-b-70">
                    <form class="login100-form validate-form m-auto" method="POST">
                        <div class="right_top_side ">
                            <img class="img-fluid z-depth-3" src="https://client.jl-dev.fr/assets/image/logo2.png">
                            <a href="" style="top: 50%">Voir plus</a>
                        </div>
                        <input type="hidden" name="_token" value="A5AorMUiRcyFcGdQXGsKzdnWnSmPTRuAzcU4CDId"> <input
                            type="hidden" name="redirection" value="">
                        <span class="login100-form-title p-b-29">
                            Connectez-vous !
                        </span>
                        <!-- <div class="wrap-input100">
                <span class="label-input100 ">Email *</span>
                <input class="input100 email" type="email" name="email" placeholder="Adresse email..." autocomplete="email">
                <span class="focus-input100"></span>
                <div class="show-email">
                    <i class="fa mt-3 fa-envelope" aria-hidden="true" style="margin-left: 20rem;"></i>
                </div>
            </div>
            <div class="wrap-input100">
                <span class="label-input100">Mot de passe *</span>
                <input class="input100" type="password" name="password" id="passwordss" placeholder="*************" autocomplete="current-password">
                <span class="focus-input100"></span>
                <div class="show-passwd">
                    <i class="fa mt-3 fa-eye eyess hides"></i>
                    <i class="fa mt-3 fa-eye-slash eye_slashh"></i>
                </div>
            </div> -->

                        <div class="limiter">
                            <div class="container-login100">
                                <div class="wrap-login100">
                                    <form class="login100-form validate-form">
                                        <!-- <span class="login100-form-title p-b-26">
                                Log in to continue
                            </span>
                            <span class="login100-form-title p-b-48">   
                                <i class="zmdi zmdi-font"></i>
                            </span> -->
                                        <!-- <div class="right_top_side">
                                       <div class="img-fluid"></div>
                                       <a href="/">Voir plus</a>

                                     </div> -->
                                        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                                            <span class="label-input100">Email *</span>
                                            <input class="input100" type="text" name="email"
                                                placeholder="Entrer votre email ...">
                                            <span class="focus-input100"></span>
                                            <div class="show-email">
                                                <i class="fa-solid fa-envelope" id="icon_email"></i>
                                            </div>
                                        </div>

                                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                                            <span class="btn-show-pass">
                                                <i class="zmdi zmdi-eye"></i>
                                            </span>
                                            <span class="label-input100">Mot de passe *</span>
                                            <input class="input100" type="password" name="pass"
                                                placeholder="Entrer votre mot de passe ...">
                                            <span class="focus-input100"></span>

                                            <div class="show-passwd">
                                                <i class="fa mt-3 fa-eye eyess hides"></i>
                                                <i class="fa mt-3 fa-eye-slash eye_slashh"></i>
                                            </div>
                                        </div>
                                        <div class="align-items-end" style="margin-left: 60%; color: #0199DA;">
                                            <a href="#" class="mdpOublie color_default" id="#">Mot de
                                                passe oublié ?</a>
                                        </div>
                                        <div class="container-login100-form-btn">
                                            <button type="submit" class="btn btn-large  w-100"
                                                style="background-color:#0199DA; color:white">
                                                Se connecter</button>
                                        </div>



                                        <!-- <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn">
                                        Login
                                    </button>
                                </div>
                            </div> -->

                                        <div class="text-center p-t-115">
                                            <span class="txt1">
                                                Vous n'avez pas de compte?
                                            </span>

                                            <a class="txt2" href="#">
                                                S'inscrire
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="dd">

                        </div>
                        <div id="dropDownSelect1"></div>





                        <!-- <div class="container-login100-form-btn">
                <button type="submit" class="btn btn-large  w-100" style="background-color:#0199DA; color:white">
                    Se connecter
            </div> -->
                        <!-- <div class="connex_lien">
                        <p>Vous n'avez de pas compte? <span class=" color_default text-wrap"><a
                                    href="/client/inscription" class="color_default">S'inscrire</a></span></p>
                    </div> -->
                    </form>
                    <div class="bottomleft" style="width: 400px;">
                        <p>Tous droits réservés © Service Export Import Technologie</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="https://client.jl-dev.fr/assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="https://client.jl-dev.fr/assets/login/vendor/animsition/js/animsition.min.js"></script>

    <script src="https://client.jl-dev.fr/assets/login/vendor/bootstrap/js/popper.js"></script>
    <script src="https://client.jl-dev.fr/assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://client.jl-dev.fr/assets/login/vendor/select2/select2.min.js"></script>

    <script src="https://client.jl-dev.fr/assets/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="https://client.jl-dev.fr/assets/login/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="https://client.jl-dev.fr/assets/login/vendor/countdowntime/countdowntime.js"></script>

    <script src="https://client.jl-dev.fr/assets/login/js/main.js"></script>
    <script src="https://client.jl-dev.fr/assets/login/js/mains.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://client.jl-dev.fr/assets/admins/js/plugin/sweetalert/sweetalert.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>-->
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816"
        integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw=="
        data-cf-beacon='{"rayId":"7d278860d9599ce9","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.4.0","si":100}'
        crossorigin="anonymous"></script>
    <script src="https://client.jl-dev.fr/assets/admins/js/plugin/jquery.validate/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.erreur1').css('display', 'none');
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $('.mdpOublie').on('click', function () {
                $('.erreur1').css('display', 'none');
                var email = $('.email').val();
                var lien = $(this).attr('id');
                console.log(email);
                if (email != '') {
                    $.ajax({
                        url: "https://client.jl-dev.fr/mdpoublie",
                        type: "post",
                        data: {
                            email: email
                        },
                        success: function (response) {
                            if (response.done == false) {
                                Swal.fire({
                                    title: "Information",
                                    text: "Vous n'avez pas de compte client enregistré sur cette boite mail merci de créer votre compte client !",
                                    icon: "error",
                                    confirmButtonText: "Ok",
                                    customClass: {
                                        confirmButton: "btn btn-danger"
                                    }
                                }).then(function (result) {
                                    window.location.href = "/client/inscription";
                                });

                            } else {
                                var user_id = response.id;
                                var liens = "/mdpoublie/changermdp/" + user_id;
                                $.ajax({
                                    url: liens,
                                    type: "get",
                                    success: function (response) {
                                        window.location.replace(liens);
                                    }
                                });
                            }
                        }
                    });
                } else { }

            });

        });
    </script>
</body>